
.container {
    display: grid;
    grid-template-columns: 13% 86%;
    grid-gap: 1%;
    height: 100vh;
    padding: 1vh 0.5vw;
}

.mainLayout {
    display: flex;
    align-items: center;
    flex-direction: column;
}