.container {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 10px;
    padding: 1vw;
    height: 100%;
}

.logout {
    margin-top: auto;
}

.navlink {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid black;
    border-radius: 10px;
    padding: 0.5vh 0.5vw;
    margin: 0.5vh 0;
}

.navIcon { 
    width: 10%;
    margin-right: 5%;
}

.focusElement {
    background-color: aqua;
    border-color: cadetblue;
}

.navHeaderIcon {
    width: 70%;
}

.navHeaderContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding-bottom: 2vh;
}